#notifications {
    padding: 2px 3px;
    font-size: 9px;
    top: 10%;
    background-color: var(--brown);
}
.logo-header {
    width: 50%;
}
header .banner {
    background: linear-gradient(0deg, #04061b67, #04061b67), url("/public/images/1.1.jpg") repeat;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100%;
}
header .root {
    top: 210px;
    left: 8%;
    font-size: 13px;
}.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact1{
    width: 40%;
    height: 100%;
    margin-left: 70px;
}
.map{
    width: 50%;
    margin-right: 60px;
}
.butt{
    background-color: red;
    color: white;
    border: none;
}