#notifications {
    padding: 2px 3px;
    font-size: 9px;
    top: 10%;
    background-color: var(--brown);
}

.logo-header {
    width: 50%;

}

header .banner {
    background: linear-gradient(0deg, #04061b67, #04061b67), url("/hurst_brief_projet/public/images/1.1.jpg");
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100%;

}

header .root {
    top: 210px;
    left: 8%;
    font-size: 13px;
}
.container1{
display: grid;
grid: no-repeat;
height: 59%;
justify-content: center;
border: 1px;
background-color: grey !important;
margin-bottom: 10px;
/* align-items: center; */
}
.container2{
    /* flex-direction: column; */
    display: flex;
    margin-top:0px;
    border: 1px;
    height: 40%;
    background-color: brown;
    
}
.container12{
/* flex-direction: row-reverse; */
justify-content: center;
align-items: center;
width: 50%;
height: 100%;
/* background-color: beige; */


}
.head1{ 
    width: 25%;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    margin-top: 10px;
    display: flex;
    gap: 350px;
    
    
}
.nam{
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
/* .ft1{
    display: flex;
    justify-content: space-between;
} */
.new{
background-color: burlywood;
margin-top: 10px;
height: 30px;
}


.Bnow{
    background-color: aliceblue;
    height: 30px;
    
    

}
.big1{
display: flex;
justify-content: center;
background-color: beige;
border: 1px;
width: 65%;
height: 100%;
}
.img3{
    width: 100%;
    height: 200px;
    
}
.big11 {
    /* display: contents; */
    align-items: baseline;
    text-align: left;
    justify-content: center;
   width: 50%;
}
.big111{
    display: block;
    justify-content: center;
    text-align: center;
}
.Snow{
    background-color:white;
}
.big{
display: flex;
grid-template-columns: repeat(2);
gap: 20px;
height: 500px;
   
}
.big img{
  height: 200px;
  width: 80%;
   
}
/* -----FEATURED--------- */

h1{
    margin-top:100px;
    text-align: center;
}
.contain{
/* flex-direction: column; */
display: flex;
grid-template-rows: repeat(4,1fr);

box-shadow: 2px;
width: 100%;
gap: 20px;
}
.contain2{
    background-color: azure;
    border: 1px;
    width: 100%;
    height: 350px;
    overflow: hidden;
    display: ;
    
}

}
.rede{
    display: flex;
}
.card shadow-sm img{
    margin-right: 300px;
}
/* ----footer--- */
/* FOOTER  */
:root {
    --gris-clair: #F6F6F6;
}

#notifications {
    padding: 2px 3px;
    font-size: 9px;
    top: 10%;
    background-color: var(--brown);
}

#bottom {
    background-color: var(--gris-clair);
}

#inf {
    font-size: 14px;
}

#subscribe {
    color: black;
    background-color: var(--gris-clair);

}

footer {
    background-color: var(--gris);
}

footer hr {
    background-color: var(--brown);
    opacity: 1;
    border: 2px solid var(--brown);
    color: var(--brown);
    width: 70px;
    position: relative;
    top: -10px;
}

footer ul li a:hover {
    color: var(--brown);
}

footer input {
    background-color: var(--gris-clair);
}
.New2{
    background-color: red;
    border: none;
}
.Purchasetext{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}
.Arriv{
    color: red ;
}
.first{
    width: 50px;
    height: 5px;
    color: red ;
    margin-left: 500px;
}
.two{
width: 50px;
margin-top: 0px;
margin-left:430px ;
}
.avis{
    display: flex;
    gap: 10px;
    font-size: 12px;
    margin-left: 10px;
}
.number{
    background-color: #F6F6F6;
    border-color: red;
    height: 25px;
}
.blogtext1{
   align-items: center;
   font-size: 10px;
   display: flex;
}
.readmore{
    color: red;
}
.june{
    margin-left: 10px;
}
.text{
    font-size: 12px;
    justify-content: center;
    text-align: left;
    margin-left: 7px;
}