
/* BLOG DESIGN  */
.active{
color: var(--brown);
}
#border-card{
    border: 1px solid var(--brown);
    color: var(--brown);
    height: 37px;
}
#date-card , #pagination ul li a:hover{
    color: var(--brown) !important;
}
#read-more{
    color: var(--brown);
    text-decoration: none;
}
.card p{
    font-size: 12px;
    text-align: justify;
}
.card img{
    width: 100%;
    border-radius: 0 !important;
}
#pagination{
    font-size: 14px;
}

