.maincontainer{
    background-color: var(--gris);
    margin-top: 5%; 
    /* border: 1px solid green; */
    height: 1745px;
}
 /* .....début_design_mainleft....... */


.card-header{
    font-weight: bold;
    background-color: white;
    border-bottom: 1px solid var(--gris);
}
.ranges{
    width: 90%;
    /* border: 1px solid green; */
    background-color: white;
    height: 5px;
    border-radius: 5px;
    box-shadow: 10px 5px 10px var(--gris);
}
.range{
    width: 35%;
    background-color: var(--brown);
    height: 7px;
    position: absolute;
    border-radius: 5px;
    margin-left: 5%;

}

.icone{
    /* border: 1PX solid green; */
    width: 120%;
}
.icone span{
    margin-left: 80%;
    font-size: 10px;
    
}

.card .card-header{
    height: 2%;
    display: block;
    align-items: center;
}

.card-body .color{
    width: 7%;
    height: 20px;
    background-color: rgba(233, 101, 53, 0.81);
    

}
.card-body .color1{
    width: 7%;
    height: 20px;
    background-color: var(--brown);
    

}
.card-body .color2{
    width: 7%;
    height: 20px;
    background-color: hsl(0, 81%, 48%);
    

}
.card-body .color3{
    width: 7%;
    height: 20px;
    background-color: hwb(215 16% 3%);
    

}
.card-body .color4{
    width: 7%;
    height: 20px;
    background-color: rgb(56, 143, 148);
    

}
.card-body .color5{
    width: 7%;
    height: 20px;
    background-color: hwb(106 22% 42%);
    

}
.card-body .color6{
    width: 7%;
    height: 20px;
    background-color: hsl(26, 68%, 51%);
    

}
.new{
    display: flex;
    justify-content: center;
    margin-top: 10%;

}
.card-body .size{
    width: 10%;
    height: 30px;
    text-align: center;
    background-color: #e5e2e2f1;
}
.card-body .size:hover{
    transform: scale(1.2);
    background-color: #CAA46A;
    color: white;
    
}
.card-body .size{
    transition: transform 0.3s;
}
.new span{
    background-color: rgba(198, 170, 28, 0.732);
    width: 60px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-left: 30px;
    padding-top: 3px;
    font-size: 12px;
}
.card-image img{
    width: 100%;
    height: 500px;
}

           /* .....fin_design_mainleft....... */

           /* .....début_design_mainleft....... */
.card_product{
    /* width: 1000px; */
    height: 200px;
    border: 1px solid green;
}

