#notifications{
    padding: 2px 3px;
    font-size: 9px;
    top: 10%;
    background-color: var(--brown);
}
.logo-header{
    width: 50%;

}
header .banner{
    background: linear-gradient(0deg, #04061b67, #04061b67), url("../public/images/bg/1.jpg");
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100%;

}
header .root{
    top: 210px;
    left: 8%;
    font-size: 13px;
}
.container-fluid{
    background-color: rgb(236, 234, 234);
    width: 100%;
    padding: 100px;
}
.row{
    /* border: 1px solid #000; */
    margin-bottom: 2%;
    background-color: white;
    padding: 5px 20px;
    margin-left: -0.2%;
    gap: 2%;
}
.row1{
    background-color: #ECEAEA;
}
 
.row1 div{
    background-color: white;
}
.shop{
    width: 100%;
    border: 1px solid #000;
    padding: 100px 12px;
}
.row1 span{
    display: block;
    background-color: white;
    text-align: center;
    padding: 20px 0 ;
    cursor: pointer;
    text-transform: uppercase;
}
.row1 span:hover {
    background-color:  #C8A165;
    color: white;
}
.row1 div :hover {
    background-color:  #C8A165;
    color: white;
}
#cols{
    padding: 8px 0px;
}
#cols span{
    font-size: 14px;
}
.validation{
    /* border: 1px solid #000; */
    display: flex;
    background-color: white;
    
}
.order{
    /* border: 1px solid #000; */
    width: 50%;
    display: grid;
    margin-right: 3%;
}
h1{
    font-size: 16px;
}
#total{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid #000; */
    background-color: rgb(236, 234, 234);
    font-weight: bold;
    border: none;
}
.spa{
    /* padding: 5px 50px ; */
    margin-top: 3%;
    margin-left: 3%;
}
.product{
    border-bottom: 1px solid #00000017;
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
    opacity: 0.9;
}
.product:last-child{
    border-bottom: none;

}
#order{
    color: #C8A165;
}
button{
    background-color: #C87085;
    color: white;
    border: none;
    font-size: 12px;
    padding: 8px 23px;
}